
.head{
    background: black;
    width: 100%;
    padding: 10px;
    color: white;
    
    overflow: hidden;
    position: fixed;
    top: 0;
  
}
  
  .head #ap {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
   margin-top: 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
#ap:hover{
    color:lightblue;
}
#ap:active{
    color: black;
}

#ap>img {
    width: 35px;
    height: 35px;
   
  
}

#ap {
    text-decoration: none;
    color: white;
    margin-left: 100px;
}
.im{
    margin-bottom: 10px;
}
#srch>img{
    width: 30px;
    height: 30px;
   margin: 10px 0px 0px 0px;
 
}
#sto>img{
    width: 30px;
    height: 30px;

}
#fr{
    width: 100%;
    height: 110px;
    background:whitesmoke;
}
#fr p{
    text-align: center;
   
}
#more{
    color: rgba(33, 124, 243, 0.836);
}

.content{
    width: 100%;
    height:auto;
    background:white;
    cursor: pointer;
    text-align: center;
}
.content img{
    width: 60%;
    height: auto;
}
.content>h1{
    color: rgb(31, 30, 30);
    font-size: 60px;
    font-family:sans-serif;
    margin-bottom: 40px;
}
.content>h2{
    color: rgb(29, 28, 28);
    font-size: 30px;
    font-style: normal;
}
#co{
text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    color: rgba(33, 124, 243, 0.836);
}





.phone1{
    width: 100%;
    height:auto;
    background:black;
    cursor: pointer;
    text-align: center;
    
}
.phone1 img{
    width: 60%;
    height: auto;
}
.phone1>h1{
    color: white;
    font-size: 60px;
    font-family:sans-serif;
    margin-bottom: 40px;
}
.phone1>h2{
    color: white;
    font-size: 30px;
    font-style: normal;
}
.phone1>p{
    color: white;
    font-style: normal;
}
#co1{
text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    color: rgba(33, 124, 243, 0.836);
}





.pad{
    width: 100%;
    height:auto;
    background:black;
    cursor: pointer;
    text-align: center;
    
}
.pad img{
    width: 60%;
    height: auto;
}
.pad>h1{
    color: white;
    font-size: 60px;
    font-family:sans-serif;
    margin-bottom: 40px;
}
.pad>h2{
    color: white;
    font-size: 30px;
    font-style: normal;
}
.pad>p{
    color: white;
    font-style: normal;
}
#co2{
text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    color: rgba(33, 124, 243, 0.836);
}

.ear{
margin:20px 0px 0px 0px;
height: 500px;
}
.col1{
    position: relative;
    float: left;
    width: 49%;
    height: auto;
    background:rgb(199, 255, 255);
    text-align: center;
}
.space{
    width: 2%;
    height: auto;
    background: white;
    float: left;
}
.col2{
    position: relative;
    float: left;
    width: 49%;
    height: auto;
    background: black;
    text-align: center;
}
.col2 h1{
   color: white;
   

}
.col2 h5{
    color: red;
    margin:0px 0px 20px 0px;
}
.col2 img{
    margin-bottom: 30px;
}